html{
	font-size:14px;
}

body{
	font-family:"Open Sans", sans serif;
	line-height:1.4;
}

.navbar-default .navbar-nav .active a, 
.navbar-default .navbar-nav .active a:hover{
	background-color: inherit;
	color: #399bd1;
}

.navbar{
	font-weight:600;
	font-size:1.1rem;
}